body {
  background-color: rgb(39, 0, 0);
  cursor: pointer;
}

.active1 {
  background-color: transparent;
  border: 2px solid white;
  width: 8rem;
  margin-right: 1rem;
  padding: 3px 6px 3px 6px;
  text-decoration: none;
  border-radius: 5px;
}

.NaviButtons {
  position: relative;
  width: 10rem;
  left: 15.3rem;
  top: 2rem;
}
.active2 {
  background-color: transparent;
  border: 2px solid white;
  width: 8rem;
  margin-left: 1rem;
  padding: 3px 6px 3px 6px;
  text-decoration: none;
  border-radius: 5px;
}
.firstButton {
  text-decoration: none;
  color: rgb(255, 255, 255);
  text-decoration-line: none;
}
.secondButton {
  text-decoration: none;
  color: rgb(255, 255, 255);
  text-decoration-line: none;
}
.SearchBarComponent {
  border: 2px solid red;
  width: 15rem;
  position: relative;
  left: 15.4rem;
  top: 4rem;
  padding: 2px 4px 4px 5px;
  border-radius: 5px;
}
.searchInput {
  padding: 2px 2px 2px 2px;
  width: 14.3rem;
  border-radius: 5px;
}
.movieListFound {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  top: 5rem;
  position: relative;
}
.ulFoundMovies {
  list-style: none;
}
.foundMovie {
  background-color: black;
  width: auto;
  height: auto;
  position: relative;
  top: 2rem;
  left: 40%;
  border: 3px solid black;
  border-radius: 5px;
}
.movieFoundTitle {
  position: absolute;
  top: 11.5rem;
  height: 5.2rem;
  text-align: center;
  text-align-last: auto;
  justify-content: center;
  color: white;
  background-color: black;
  width: 100%;
  font-size: 30px;
  display: flex;
  flex-direction: column;
}
